@import "tailwindcss";


* {
    margin: 0;
    padding: 0;
    background-image: url("../src/assets/HomeBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}